/*static*/
div{
    font-size: large;
    color: black;
    text-align: center !important;
   /* margin: auto !important;*/
    height: 200px;
    width: 500px;


}
section{
    border: 10px solid black;
    width: 1900px;
    height:900px;
}

.static{
    background-color: aqua;
    position: static;
    
}
.relative{
    background-color: brown;
    position: relative;
    left: 550px;
    top: 100px;
}
.absolute{
    background-color: blueviolet;
    position: absolute;
    left: 1100px;
    top: 550px;
}
